<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>polivota</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/logged/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>RequestLoggingFilter</display-name>
    <filter-name>RequestLoggingFilter</filter-name>
    <filter-class>filters.RequestLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description>handles logout action</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logged/LogoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>busca disciplina no procurar.jsp</description>
    <display-name>DisciplinaServlet</display-name>
    <servlet-name>DisciplinaServlet</servlet-name>
    <servlet-class>control.DisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet</servlet-name>
    <url-pattern>/DisciplinaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>busca os professores no procurar.jsp</description>
    <display-name>ProfessorServlet</display-name>
    <servlet-name>ProfessorServlet</servlet-name>
    <servlet-class>control.ProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorServlet</servlet-name>
    <url-pattern>/ProfessorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>troca os comentarios da disciplina para professor no procurar.jsp</description>
    <display-name>ComentariosProfessorServlet</display-name>
    <servlet-name>ComentariosProfessorServlet</servlet-name>
    <servlet-class>control.ComentariosProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComentariosProfessorServlet</servlet-name>
    <url-pattern>/ComentariosProfessorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>carrega os as denuncias no dash do admin</description>
    <display-name>AdmDashServlet</display-name>
    <servlet-name>AdmDashServlet</servlet-name>
    <servlet-class>control.AdmDashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmDashServlet</servlet-name>
    <url-pattern>/AdmDashServlet</url-pattern>
    <url-pattern>/logged/dash_adm.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>carrega o dropdown com as disciplinas</description>
    <display-name>ListaDisciplinaServlet</display-name>
    <servlet-name>ListaDisciplinaServlet</servlet-name>
    <servlet-class>control.ListaDisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDisciplinaServlet</servlet-name>
    <url-pattern>/procurar.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>lista as disciplinas para popular dropdown</description>
    <display-name>ListaDisciplinaAvaliarServlet</display-name>
    <servlet-name>ListaDisciplinaAvaliarServlet</servlet-name>
    <servlet-class>control.ListaDisciplinaAvaliarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDisciplinaAvaliarServlet</servlet-name>
    <url-pattern>/avaliar.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvaliarServlet</display-name>
    <servlet-name>AvaliarServlet</servlet-name>
    <servlet-class>control.AvaliarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvaliarServlet</servlet-name>
    <url-pattern>/AvaliarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroServlet</display-name>
    <servlet-name>CadastroServlet</servlet-name>
    <servlet-class>control.CadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroServlet</servlet-name>
    <url-pattern>/CadastroServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulaDashAlunoServlet</display-name>
    <servlet-name>PopulaDashAlunoServlet</servlet-name>
    <servlet-class>control.PopulaDashAlunoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulaDashAlunoServlet</servlet-name>
    <url-pattern>/dash_aluno.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulaAvaliarServlet</display-name>
    <servlet-name>PopulaAvaliarServlet</servlet-name>
    <servlet-class>control.PopulaAvaliarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulaAvaliarServlet</servlet-name>
    <url-pattern>/PopulaAvaliarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarSenhaServlet</display-name>
    <servlet-name>AtualizarSenhaServlet</servlet-name>
    <servlet-class>control.AtualizarSenhaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarSenhaServlet</servlet-name>
    <url-pattern>/AtualizarSenhaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarDadosServlet</display-name>
    <servlet-name>AlterarDadosServlet</servlet-name>
    <servlet-class>control.AlterarDadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarDadosServlet</servlet-name>
    <url-pattern>/AlterarDadosServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverContaServlet</display-name>
    <servlet-name>RemoverContaServlet</servlet-name>
    <servlet-class>control.RemoverContaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverContaServlet</servlet-name>
    <url-pattern>/RemoverContaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerenciaDenunciaServlet</display-name>
    <servlet-name>GerenciaDenunciaServlet</servlet-name>
    <servlet-class>control.GerenciaDenunciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerenciaDenunciaServlet</servlet-name>
    <url-pattern>/GerenciaDenunciaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulaProfessoresAdmServlet</display-name>
    <servlet-name>PopulaProfessoresAdmServlet</servlet-name>
    <servlet-class>control.PopulaProfessoresAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulaProfessoresAdmServlet</servlet-name>
    <url-pattern>/logged/professor_adm.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraProfessorServlet</display-name>
    <servlet-name>AlteraProfessorServlet</servlet-name>
    <servlet-class>control.AlteraProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraProfessorServlet</servlet-name>
    <url-pattern>/AlteraProfessorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>remove o professor do banco (adm)</description>
    <display-name>RemoveProfessorServlet</display-name>
    <servlet-name>RemoveProfessorServlet</servlet-name>
    <servlet-class>control.RemoveProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProfessorServlet</servlet-name>
    <url-pattern>/RemoveProfessorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaDisciplinaAdmServlet</display-name>
    <servlet-name>ListaDisciplinaAdmServlet</servlet-name>
    <servlet-class>control.ListaDisciplinaAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDisciplinaAdmServlet</servlet-name>
    <url-pattern>/logged/disciplina_adm.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>edita relacao disciplina-professor e salva no banco</description>
    <display-name>EditarDisciplinaServlet</display-name>
    <servlet-name>EditarDisciplinaServlet</servlet-name>
    <servlet-class>control.EditarDisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarDisciplinaServlet</servlet-name>
    <url-pattern>/EditarDisciplinaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>remove a disciplina</description>
    <display-name>RemoverDisciplinaServlet</display-name>
    <servlet-name>RemoverDisciplinaServlet</servlet-name>
    <servlet-class>control.RemoverDisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverDisciplinaServlet</servlet-name>
    <url-pattern>/RemoverDisciplinaServlet.do</url-pattern>
  </servlet-mapping>
</web-app>